
.cards {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 5px;
    width: 100%;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    margin-top: 5px;
}

.back {
    margin-top: -145px;
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}

.front > img, .back > img {
    width: 100px;
}

.column-1 {
    grid-column: 1;
    grid-row: 1;
}

.column-2 {
    grid-column: 2;
    grid-row: 1;
}

.column-2:not(:first-child) {
    margin-top: -10px;
}

.column-3 {
    grid-column: 3;
    grid-row: 1;  
}

.column-4 {
    grid-column: 4;
    grid-row: 1;
}

.column-5 {
    grid-column: 5;
    grid-row: 1;
}

.column-6 {
    grid-column: 6;
    grid-row: 1;
}

.column-7 {
    grid-column: 7;
    grid-row: 1;
}