
.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    padding: 2px;
    /* border: 2px solid blue; */
}

.front, .back {
    position: absolute;
    margin-top: 5px;
    backface-visibility: hidden;
}

.front {
    margin-left: 5px;
}

.back {
    margin-left: 5px;
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}

.front > img, .back > img {
    width: 95px;
    height: 137px;
}